* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin-left: auto;
    margin-right: auto;
}
nav {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background:rgba(24, 36, 53, 0.5);
    backdrop-filter: blur(10px);
    border: white;
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 5px 5px 10px black;
    color: white;
}
.container1 {
    display: flex;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}
.container2 {
    background-attachment: fixed;
    display: flex;
    background-image: url(mario.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0f0f1a;
    height: 100vh;
    font-weight: bold;
}
.container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.container4 {
    height: 150vh;
    background-attachment: fixed;
    display: flex;
    background-image: url(8machine.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0f0f1a;
    width: 100%;
}
.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    color: black;
    font-weight: bold;
    background-color: lightgray;
}
.disc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.bar {
    width: 100%;
    height: 70%;
    background:rgba(24, 36, 53, 0.5);
    backdrop-filter: blur(10px);
    border: white;
    border-style: solid;
    border-width: 0.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    gap: 15%;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 12%;
    margin-bottom: 12%;
}
#plate-content1 {
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    background:rgba(24, 36, 53, 0.5);
    width: 50%;
    height: 200px;
    scale: 1;
    transition: 0.2s ease-in-out;

}
#plate-content2 {
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    background:rgba(24, 36, 53, 0.5);
    width: 30%;
    height: 200px;
    scale: 1;
    transition: 0.2s ease-in-out;
 
}
#plate-content1:hover, #plate-content2:hover {
    transition: 0.2s ease-in-out;
    scale: 1.1;
    box-shadow:  0 15px 25px rgba(0,0,0,0.6);
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4;
}
#plate {
    z-index: 1;
    height: 50%;
    width: 30%;
    border-radius: 20px 20px 20px 20px;
    background-color: #CFD2CD;
    display: flex;
    transform: scale(0.8);
    box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    background:rgba(186, 215, 255, 0.5);
    backdrop-filter: blur(5px);
    border: white;
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 5px 5px 10px black;
}
#plate:hover {
    display: flex;
    cursor: pointer;
    transform: scale(1);
}
#plate-txt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    color: white;
    animation-name: fadeUp;
    animation-duration: 1s;
    overflow: hidden;
    height: auto;
}
#picture1 {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 30px;
    justify-content: center;
}
#picture2 {
    height: 100%;
    width: 50%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    background-repeat: no-repeat;
    background-image: url(visax.jpg);
    display: flex;
    background-size: cover;
}
#paragraph {
    padding: 0px 0px 0px 100px;
}
.nav-ul {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    width: 70%;
}
.nav-ul a{
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.nav-ul li {
    list-style: none;
}
/* test */